.vertical-card {
  max-width: 20rem;
  max-height: 400px;
  position: relative;
}
.colored-star {
  color: var(--rating-star-color);
}
.rating-info {
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 3px;
  width: 60px;
  opacity: 0.9;
  border-radius: 2px;
}
.card-image-container {
  position: relative;
}
.card-cta-vertical .btn {
  line-height: 1;
}
.add-to-cart-loader {
  height: 100%;
}
.vertical-card .btn-primary {
  height: 2rem;
}
.card-wishlist-btn {
  opacity: 1;
  z-index: 2;
}
.card-wishlist-btn .flex-total-center {
  gap: var(--md-space);
}
.card-info-container {
  color: var(--text-color);
  text-decoration: none;
}
.position-unset {
  position: unset;
}
