.vertical-card {
  max-width: 20rem;
  max-height: 400px;
  position: relative;
}
.colored-star {
  color: var(--rating-star-color);
}
.rating-info {
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--secondary-color);
  padding: 3px;
  width: 60px;
  opacity: 0.9;
  border-radius: 2px;
}
.card-image-container {
  position: relative;
  z-index: -1;
}
