.category {
  height: 160px;
  width: 320px;
  max-width: 300px;
  cursor: pointer;
}
.category:hover {
  box-shadow: var(--card-hover-shadow);
}
.category-title {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: var(--secondary-color);
  width: 100%;
}
