:root {
  --primary-border: 2px solid var(--primary-color);
  --secondary-border: 2px solid var(--secondary-color);
}
/*** profile-container ***/
.profile-container {
  width: 50%;
  max-width: 1000px;
  min-height: calc(100vh - 190px);
  margin: auto;
  padding: var(--xl-space);
  row-gap: var(--xl-space);
}
/*******/

/*** profile ***/
.profile {
  border-top: var(--secondary-border);
  width: 100%;
  display: flex;
  justify-content: center;
}
.address-card {
  border: 2px solid var(--secondary-border);
}
.profile-list {
  row-gap: var(--xxl-space);
  padding: var(--md-space);
  margin: 0;
  border-right: var(--secondary-border);
}
.profile-list-item {
  padding: var(--sm-space);
}
.profile-links {
  text-decoration: none;
  color: inherit;
}
.profile-active-link {
  color: var(--primary-color);
  border-bottom: var(--primary-border);
}
.signout-btn {
  align-self: flex-start;
}
/*******/

/*** profile-info ***/
.profile-info,
.address-info {
  padding: var(--md-space);
  flex-grow: 1;
  row-gap: var(--lg-space);
}
.address-info {
  align-items: stretch;
}
.profile-container .txt-message {
  right: unset;
}
.address-head {
  justify-content: space-between;
}
.delete-btn:hover {
  color: brown;
}
.input-grp {
  margin: var(--md-space) 0;
}
.address-modal-cta {
  margin-top: var(--lg-space);
  display: flex;
  justify-content: center;
  column-gap: var(--sm-space);
}
.card-text {
  display: flex;
  column-gap: var(--md-space);
  flex-wrap: wrap;
}
.details {
  width: 100%;
  row-gap: var(--lg-space);
}
.info {
  width: 50%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.profile-cta {
  width: 50%;
  display: flex;
}
/*******/

/*** orders ***/
.order-info {
  row-gap: var(--md-space);
  margin-bottom: var(--sm-space);
}
/*******/

/*** media-queries ***/
@media only screen and (max-width: 1000px) {
  .profile-list {
    display: none;
  }
  .profile-container {
    width: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .info {
    width: 100%;
  }
}
/*******/
