/*** container ***/
.grid-container {
  min-height: calc(100vh - 200px);
  max-width: 1800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "nav nav nav nav nav nav"
    "filters main-products main-products main-products main-products main-products"
    "footer footer footer footer footer footer";
  gap: var(--lg-space);
}
/*******/

/*** filter-list ***/
.filters {
  grid-area: filters;
  position: sticky;
  top: 0;
  height: 800px;
  padding: var(--sm-space);
  transition: all 0.2s ease-in-out;
  overflow: scroll;
  z-index: 2;
}
.filter-title-mobile {
  display: none;
}
.filters label {
  cursor: pointer;
}
.filter-list {
  gap: var(--lg-space);
}
.filter-list-item {
  display: flex;
  flex-direction: column;
  gap: var(--sm-space);
}
.price-range-heading {
  margin-bottom: var(--sm-space);
}
.filters::-webkit-scrollbar {
  display: none;
}
.filter-title {
  display: flex;
  justify-content: space-between;
  padding: var(--lg-space);
  flex-wrap: wrap;
}
.filter-title button {
  cursor: pointer;
}
.filter-button-div {
  display: none;
  margin-bottom: var(--md-space);
}
.filter-button {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: var(--secondary-color);
}
.filter-button:hover {
  opacity: 1;
  color: var(--text-color);
  background-color: var(--secondary-color);
}
.divider-hr {
  background-color: transparent;
  border: none;
  height: 1rem;
}
.filter-close-btn {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 10px;
}
.filter-btn {
  display: none;
}
/*******/

/*** products-grid ***/
.products {
  grid-area: main-products;
  min-height: calc(100vh - 300px);
  padding: var(--sm-space);
}
.main-products {
  display: grid;
  min-height: calc(100vh - 300px);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--lg-space);
  position: relative;
  justify-items: center;
}
/*******/

/*** media-queries ***/
@media only screen and (max-width: 600px) {
  .main-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1300px) {
  .grid-container {
    grid-template-areas:
      "nav nav nav nav nav nav"
      "main-products main-products main-products main-products main-products main-products"
      "footer footer footer footer footer footer";
  }
  .filter-title-mobile {
    display: block;
  }
  .filter-close-btn {
    display: none;
  }
  .filters {
    position: fixed;
    top: unset;
    bottom: -100rem;
  }
  .show-filters {
    bottom: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: var(--sidebar-shadow);
    transition: all 0.5s ease-in-out;
  }
  .filter-btn,
  .filter-button-div {
    display: block;
  }
}
/*******/
