.order-counter {
  display: flex;
  column-gap: var(--md-space);
  width: 100%;
}
.quantity {
  border: 2px solid var(--secondary-color);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:disabled {
  background-color: var(--secondary-color);
  box-shadow: none;
}
